:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.1;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.error {
  font-weight: bold;
  color: Crimson
}

button {
  border: 1px solid transparent;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#currentSource {
  width: 100%;
  border: 1px solid;
  border-radius: 25px;
  font-size: 1.5em;
  padding: 10px 0;
}

.btnIcon {
  height: 1.5em;
}

.btnIconDisabled {
  opacity: 0.25;
}

#radioSources {
  width: 100%;
  padding-top: 2em;
}

#radioSourcesTable {
  margin: 0 auto;
  border-collapse: collapse;
}

.radioSourceIcon3 {
  height: 1.5em;
}

.radioSourceItem3 {
  font-size: 1.5em;
  color: #729FCF;
  background-color: #faea41;
}

.radioSourceIcon2 {
  height: 1.3em;
}

.radioSourceItem2 {
  font-size: 1.3em;
  background-color: #dbce3b;
}

.radioSourceIcon1 {
  height: 1.2em;
}

.radioSourceItem1 {
  font-size: 1.2em;
  background-color: #a69c2d;
}

.radioSourceIcon0 {
  height: 1em;
}

.radioSourceItem0 {
  background-color: #82821e;
}

.radioSourceRanking {
  font-size: smaller;
  font-weight: 100;
  margin-bottom: 1.1em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
