/* Global and top-level styles */

:root {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 62.5%;

  color-scheme: light dark;
  background-color: #0D1B2A;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
}

.container {
  display: grid;
  grid-template-columns: 6rem repeat(6, 1fr) 6rem;
  grid-template-rows: repeat(2, min-content);
  grid-row-gap: 5rem;
  margin-top: 1.6rem;
}

.error {
  font-weight: bold;
  font-size: 2rem;
  color: #A22522;
  text-align: center;
}

.loading-indicator {
   width: 56px;
   height: 56px;
   margin: 2rem auto;
   border-radius: 50%;
   background: radial-gradient(farthest-side,#197bbd 94%,#0000) top/9px 9px no-repeat,
          conic-gradient(#0000 30%,#197bbd);
   -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
   animation: loading-indicator-01 1s infinite linear;
}

@keyframes loading-indicator-01 {
   100% {
      transform: rotate(1turn);
   }
}

/* Current playback status. */

.playback-state {
  grid-column: 2 / 8;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, min-content);
  grid-row-gap: 1rem;
}

.playback-state-error {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.radio-display {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  grid-row-gap: 1.6rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, min-content);
  border-top: solid #586994;
  border-bottom: solid #586994;
}

.radio-source {
  font-size: 5rem;
  grid-row: 1 / 2;
  align-self: center;
}

.current-source {
  grid-column: 1 / 4;
  color: #197BBD;
}

.current-source-replaced {
  color: #586994;
  text-decoration: line-through;
}

.replacement-source {
  grid-column: 5 / 8;
  color: #A22522;
}

.title-info {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  font-size: 6rem;
  font-family: 'Electrolize', sans-serif;
  color: #197BBD;
}

.ctrl-img {
  width: 48px;
}

.ctrl-btn {
  cursor: pointer;
  background-image: linear-gradient(to top, #586994, #197BBD);
  outline: none;
  border-radius: 2rem;
  border: none;
  box-shadow: .2rem .2rem 1rem #0D160B;
  transition: all .5s;
}

.ctrl-btn:disabled {
  background-color: #586994;
  background-image: none;
  box-shadow: 0 0 0 #000;
  cursor: initial;
}

.ctrl-btn-shutdown {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.ctrl-btn-start {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.ctrl-btn-stop {
  grid-column: 5 / 6;
  grid-row: 3 / 4;
}

/* Favorite radio sources. */

.favorites-wrapper {
  grid-column: 2 / 8;
  grid-row: 2 / 3;
}

.favorites-wrapper-error {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

.favorites {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 32rem));
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  justify-content: center;
}

.favorite-btn {
  cursor: pointer;
  font-size: 4rem;
  color: #A2ABAB;
  background-image: linear-gradient(to top, #586994, #197BBD);
  padding: 0.5rem 0;
  outline: none;
  border-radius: 2rem;
  border: none;
  box-shadow: .2rem .2rem 1rem #0D160B;
}

.source-selection-img {
  width: 4rem;
}

/* Modal box to select a radio source. */

.select-source {
  position: fixed;
  width: 90vw;
  height: 90vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: .1rem solid #586994;
  border-radius: .5rem;
  z-index: 100;
  background-color: #0D1B2A;
  overflow: auto;
  display: none;
}

#showRadioSourceSelection:checked ~ .select-source {
  display: block;
}

#showRadioSourceSelection:checked ~ .container {
  pointer-events: none;
  opacity: .5;
}

.radio-sources-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.radio-source-item {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(2, min-content);
  grid-column-gap: 2rem;
  cursor: pointer;
  font-size: 5rem;
  color: #197BBD;
  margin-bottom: 1.8rem;
}

.radio-source-link {
  text-decoration: none;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.radio-source-icon {
  width: 3.5rem;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: center;
}

.radio-source-ranking {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

/* Making project responsive. */

@media(max-width: 1100px) {
  .container {
    grid-template-columns: 3rem repeat(6, 1fr) 3rem;
  }

  .radio-source {
    font-size: 3rem;
  }

  .title-info {
    font-size: 4rem;
  }

  .favorites {
    grid-template-columns: repeat(auto-fit, minmax(min-content, 28rem));
    grid-column-gap: 2.5rem;
    grid-row-gap: 2.5rem;
  }

  .favorite-btn {
    font-size: 3rem;
    padding: 0.7rem 0;
  }

  .source-selection-img {
    width: 3rem;
  }
}

@media(max-width: 800px) {
  .container {
    grid-template-columns: 1.5rem repeat(6, 1fr) 1.5rem;
  }

  .radio-source {
    font-size: 2rem;
  }

  .title-info {
    font-size: 3rem;
  }

  .ctrl-btn {
    border-radius: 1.5rem;
  }

  .ctrl-img {
    width: 40px;
  }

  .favorites {
    grid-template-columns: repeat(auto-fit, minmax(min-content, 20rem));
  }

  .favorite-btn {
    font-size: 2rem;
    border-radius: 1.5rem;
    padding: 1rem 0;
  }

  .source-selection-img {
    width: 2rem;
  }

  .radio-source-item {
    template-column-gap: 1.5rem;
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  .radio-source-icon {
    width: 3rem;
  }
}

@media(max-width: 650px) {
  .container {
    grid-template-columns: 0.5rem repeat(6, 1fr) 0.5rem;
  }

  .radio-source {
    font-size: 1.5rem;
  }

  .title-info {
    font-size: 2rem;
  }

  .ctrl-btn {
    border-radius: 1rem;
  }

  .ctrl-img {
    width: 32px;
  }

  .favorites {
    grid-template-columns: repeat(auto-fit, minmax(min-content, 16rem));
  }

  .favorite-btn {
    font-size: 1.5rem;
    border-radius: 1rem;
    padding: 1.2rem 0;
  }

  .source-selection-img {
    width: 1.5rem;
  }

  .radio-source-item {
    template-column-gap: .8rem;
    font-size: 2rem;
    margin-bottom: .8rem;
  }

  .radio-source-icon {
    width: 1.4rem;
  }
}
